.search-category {
    padding: 4px 10px;
	display: table;
	line-height: 24px;
	list-style: none;
    margin-bottom: 1px;
}

.search-categories {
    float: left;
    width: 254px;
}

.search-categories-list {
    margin: 0;
}

.search-subcategories-list {
    margin: 0;
    padding-left: 10px;
}

.active-category {
    color: white;
    float: left;
    padding-left: 3px;
    padding-right: 3px;
}