 .search-category {
/*    font-weight: normal;
    padding: 6px 6px 12px 6px;
    font-size: 16px;
    list-style: none;
*/ 
	padding: 4px 10px;
	display: inline-block;
	line-height: 24px;
	list-style: none;
}



 .search-category-list {
 	margin: 0px;
 }